@inherits LayoutComponentBase

<PageTitle>InsideAirbnb</PageTitle>

<div class="page vh-100 d-flex flex-column">
    <NavMenu></NavMenu>
    <main class="flex-grow-1">
        @Body
    </main>
</div>
