<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">InsideAirbnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="stats">Statistics</a>
        </li>
      </ul>
      <LoginDisplay></LoginDisplay>
    </div>
  </div>
</nav>


@* <div class="top-row ps-3 navbar navbar-light"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">InsideAirbnb</a> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu"> *@
@*     <nav class="flex-row"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="oi oi-home" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="counter"> *@
@*                 <span class="oi oi-plus" aria-hidden="true"></span> Counter *@
@*             </NavLink> *@
@*         </div> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="fetchdata"> *@
@*                 <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data *@
@*             </NavLink> *@
@*         </div> *@
@*     </nav> *@
@* </div> *@
